.Wrapper {
    line-height: 22px;
    position: relative;
}

.container {
    justify-content: space-around;
    display: flex;

}

.label {
    color: grey;
}

.ProgressBar li {
    list-style: none;
    text-align: center;
    cursor: pointer;
}
.innerbox{
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    bottom: 83px; 
    right: 28px;
}
/* 
.checkBoxWrapper {
    color: black;
    font-size: 20px;
    cursor: pointer;
} */